{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/checkbox.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>Document</title>
</head>
<body>
    
<section>

    <h2>Test page</h2>
    <div class="create_container">
        <form action="{% url 'add-todo' %}" method="POST">
            {% csrf_token %}
            <input name="todo_text" class="create_input" placeholder="Напишите сюда новую задачу" type="text" />
            <button class="create_button">Добавить</button>
        </form>
    </div>
    <div class="todo_container">
        {% for todo in todo_list %}
            <div id="todoItem1" class="todo_item 
                {% if todo.is_favorite %}
                    marked
                {% endif %}
                {% if todo.is_closed %}
                    done
                {% endif %}
            ">
                <div class="todo_item_header">
                    
                        <label class="checkbox_container">
                            {% if todo.is_closed %}
                                <input type="checkbox" checked/>
                            {% else %}
                                <input type="checkbox"/>
                            {% endif %}
                            <span class="checkmark"></span>
                            <a href="{% url 'checked-todo' todo.id %}">
                                <h4>{{ todo.text }}</h4>
                            </a>
                        </label>
                    
                </div>
                <div class="todo_item_footer">
                    <p>{{ todo.created_at }}</p>
                    <div class="action_buttons">
                        
                        <a href="{% url 'delete-todo' todo.id %}"><img onclick="DeleteItem()" src="{% static 'img/basket.png' %}" alt=""></a>
                        {% if todo.is_favorite %}
                            <a href="{% url 'unmark-todo' todo.id %}"><img onclick="PickedItem()" src="{% static 'img/yellow.png' %}" alt=""></a>
                        {% else %}
                            <a href="{% url 'mark-todo' todo.id %}"><img onclick="PickedItem()" src="{% static 'img/star.png' %}" alt=""></a>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</section>
</body>
</html>